<header id="header" class="header-main">
    <div class="header-container header-nav-container">
        <a href="#" class="header-logo">Mike Beckett</a>
        <nav class="header-nav">
            <ul id="nav-menu">
                <li><a href="#projects">Portfolio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <button class="header-menu-btn" id="menu-btn">☰</button>
        </nav>
    </div>
</header>